---
    name: log_out
    resource: Session
---

{% form method: 'delete' %}
    <button class="w-[200px] h-12 bg-slate-100 flex px-4 items-center text-gray-500 capitalize justify-end hover:bg-slate-200 gap-2">
        Logout
    </button>
{% endform %}