---
    name: log_out_client
    resource: Session
---

{% form method: 'delete' %}
    <button class="h-10 flex items-center justify-center w-[120px] bg-blue-400 capitalize rounded-full">
        logout
    </button>
{% endform %}