<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="authenticity_token" name="csrf-param">
<meta content="{{ form_authenticity_token }}" name="csrf-token">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="{% yield 'page_title' %}">
<meta name="title" content="{% yield 'page_title' %}">

<meta property="og:title" content="{% yield 'page_title' %}" />
<meta property="og:description" content="{% yield 'page_title' %}" />
<meta property="og:image" content="{% yield 'page_thumbnail' %}" />

<title>{% yield 'page_title' %}</title>
<!-- <link rel="stylesheet" href="{{ 'styles/app.css' | asset_url }}"> -->

<!-- MATERIAL ICONS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />