

<footer class="w-full p-10">

    <div class="w-full h-auto bg-gradient-to-tr from-orange-700 to-orange-500 flex gap-6 p-6 rounded-md">

        <div class="flex flex-col gap-2 text-white justify-center items-center w-[250px]">
            <div>
                <h1 class="font-bold">Platform OS</h1>
                <p>Sample Dashboard Page</p>
                <small>By Selastio Fadli</small>
            </div>
        </div>

        <div class="flex-1 max-w-[500px] flex flex-col gap-2 text-white justify-center items-center">
            <div class="flex flex-col gap-4">
                <p>
                    This webapp using technology call <a href="https://documentation.platformos.com/" class="font-bold cursor-pointer">Platform OS</a>
                </p>

                <p>
                    I create this for test using Platform OS. You can test to register, login, and create a content.
                </p>

                <p>
                    For an example code, you can click Github Repository link, and for full documentation I will create in this blog soon.
                </p>

                <p>
                    If any question about this sample project, please leave a message in comment section.
                </p>
            </div>
        </div>

        <div class="w-[300px] flex flex-col gap-2 text-white justify-center items-start ml-auto">
            <ul class="flex flex-col gap-4">
                <li>
                    <a class="text-white flex gap-2" href="https://github.com/jemblonganvalley/platformos_blog_sample" target="_blank">
                        <span class="material-symbols-outlined">
                            code
                        </span>
                        Source Code
                    </a>
                </li>

                <li>
                    <a class="text-white flex gap-2" href="https://documentation.platformos.com/try-now">
                        <span class="material-symbols-outlined">
                            data_object
                        </span>
                        Create Platform OS App
                    </a>
                </li>

                <!-- <li>
                    <a class="text-white flex gap-2" href="https://documentation.platformos.com/try-now">
                        <span class="material-symbols-outlined">
                            integration_instructions
                        </span>
                        Documentation Code
                    </a>
                </li> -->
            </ul>
        </div>

    </div>

</footer>